---
import DysoonLogo from "../assets/images/logo.svg";
import Strip from "./Strip.svelte";
import Card from "./Card.svelte";
---
<main>
	<h1>DYSOON.CLUB ゲイの友達 !!!</h1>
	<p>
		We are a very exclusive club of racing enjoyers located in Shibuya, Tokyo. =,)
	</p>

	{
		(await Astro.glob('../pages/pages/*.md')).map((post) => (
			<a href={`/pages/${post.file.split('/').pop().replace('.md', '')}`} style="text-decoration: none; color: white;">
				<Card client:load>
					<h2>{post.frontmatter.title || 'Untitled'}</h2>
					<p>{post.frontmatter.description || 'No description'}</p>
				</Card>
			</a>
		))
	}
	</div>
</main>
