---
import DysoonLogo from '../assets/images/logo.svg';
import Strip from './Strip.svelte';
---

<main>
	<img src={DysoonLogo.src} id="logo" 
	transition:persist="true"
	transition:name="logo"
	/>
	<Strip left transition:name="strip_top" />
	<style>
		main {
			height: 100vh;
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 100%;
		}
		#logo {
			height: 10vh;
            position: absolute;
            top: 1vh;
            left: 1vh;
		}
	</style>
</main>