---
import logoImage from '../assets/images/logo.svg';
import beginRacing from '../assets/images/begin_racing.svg';
import Strip from './Strip.svelte';
---

<main style="display: flex; align-items: center; justify-content: center;">
	<div class="full" transition:animate="slide">
        <img src={logoImage.src} alt="DYSOON.CLUB GO GO GOOOO!!!!!" transition:persist transition:animate="slide"
		transition:name="logo"/>
        <Strip left transition:persist transition:animate="slide" transition:name="striptop" />
        <a href="/home">
			<img
				src={beginRacing.src}
				id="beginRacing"
				alt="DYSOON.CLUB GO GO GOOOO!!!!!"
                transition:animate="fade"
            />
        </a>
        <Strip right />
    </div>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .full {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25%;
        }

        .full * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            width: 100%;
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: 0.1s;
            color: transparent;
        }
        button:hover {
            filter: contrast(2);
        }
    </style>
</main>	